<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kpsl.auction.cash.service.CashMapper">
	<resultMap type="com.kpsl.auction.cash.vo.CashVo" id="cash">
		<id property="cashCode" column="cash_code" />
		<result property="userId" column="user_id" />
		<result property="cashPrice" column="cash_price" />
		<result property="cashDate" column="cash_date" />
		<result property="cashState" column="cash_state" />
	</resultMap>
	<resultMap type="com.kpsl.auction.user.vo.UserDetailVo" id="userDetail">
		<id property="userId" column="user_id" />
		<result property="userPassword" column="user_password" />
		<result property="userLevel" column="user_level" />
		<result property="gradeCode" column="grade_code" />
		<result property="restrictCode" column="restrict_code" />
		<result property="userName" column="user_name" />
		<result property="userGender" column="user_gender" />
		<result property="userBirth" column="user_birth" />
		<result property="userPhone" column="user_phone" />
		<result property="userEmail" column="user_email" />
		<result property="userPostcode" column="user_postcode" />
		<result property="userAddr" column="user_addr" />
		<result property="userAddrdetail" column="user_addrdetail" />
		<result property="userTotalcash" column="user_totalcash" />
	</resultMap>
	<!-- 캐쉬테이블에 충전내역 insert -->
	<insert id="insertCash" parameterType="com.kpsl.auction.cash.vo.CashVo"
		useGeneratedKeys="true" keyProperty="cashCode">
		<selectKey keyProperty="cashCode" resultType="string" order="BEFORE">
			SELECT CONCAT("cash",MAX(CAST(substring(cash_code,5)+1 AS
			DECIMAL)))
			FROM cash_tb
		</selectKey>
			INSERT INTO cash_tb
			(cash_code, user_id, cash_price, cash_date,
			cash_state)
			VALUES (#{cashCode}, #{userId}, #{cashPrice}, NOW(),
			'충전');
	</insert>
	<!-- 캐쉬테이블충전내역으로 user캐쉬충전  -->
	<update id="updateUserCash" parameterType="com.kpsl.auction.user.vo.UserDetailVo" >
			UPDATE user_detail_tb AS u INNER JOIN cash_tb AS c
			ON u.user_id = c.user_id
			SET u.user_totalcash = u.user_totalcash + c.cash_price
			WHERE u.user_id = #{userId} AND c.cash_code IN(
															SELECT CONCAT("cash",MAX(CAST(substring(cash_code,5) AS DECIMAL)))
															FROM cash_tb
														  );
	</update>
	<!--캐쉬테이블에 출금내역 insert  -->
	<insert id="insertCashWithdraw" parameterType="com.kpsl.auction.cash.vo.CashVo"
		useGeneratedKeys="true" keyProperty="cashCode">
		<selectKey keyProperty="cashCode" resultType="string" order="BEFORE">
			SELECT CONCAT("cash",MAX(CAST(substring(cash_code,5)+1 AS
			DECIMAL)))
			FROM cash_tb
		</selectKey>
			INSERT INTO cash_tb
			(cash_code, user_id, cash_price, cash_date,
			cash_state)
			VALUES (#{cashCode}, #{userId}, #{cashPrice}, NOW(),
			'출금');
	</insert>
	<!-- 캐쉬테이블충전내역으로 user캐쉬출금  -->
	<update id="updateUserCashWithdraw" parameterType="com.kpsl.auction.user.vo.UserDetailVo" >
			UPDATE user_detail_tb AS u INNER JOIN cash_tb AS c
			ON u.user_id = c.user_id
			SET u.user_totalcash = u.user_totalcash - c.cash_price
			WHERE u.user_id = #{userId} AND c.cash_code IN(
															SELECT CONCAT("cash",MAX(CAST(substring(cash_code,5) AS DECIMAL)))
															FROM cash_tb
														  );
	</update>
	<!--캐쉬관리 캐쉬충전/출금-->
	<select id="selectCashDetail" parameterType="com.kpsl.auction.cash.vo.CashVo" resultMap="cash">
		SELECT cash_price,cash_date,cash_state
		FROM cash_tb
		WHERE user_id=#{userId}
		<if test="cashState == '충전'">AND cash_state='충전'</if>
		<if test="cashState == '출금'">AND cash_state='출금'</if>
		<if test="cashState == '충전,출금'"></if>
		<if test="cashDate == 'day'">AND cash_date >CURDATE()</if>
		<if test="cashDate == 'range-7d'">AND cash_date >DATE_SUB(NOW(),INTERVAL 1 WEEK)</if>
		<if test="cashDate == 'range-1m'">AND cash_date >DATE_SUB(NOW(),INTERVAL 1 MONTH)</if>
		<if test="cashDate == 'range-3m'">AND cash_date >DATE_SUB(NOW(),INTERVAL 3 MONTH)</if>
		<if test="cashDate == 'range-6m'">AND cash_date >DATE_SUB(NOW(),INTERVAL 6 MONTH)</if>
		
		ORDER BY cash_date DESC
	
	</select>
</mapper>