<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kpsl.auction.ad.service.AdApplyMapper">
	<resultMap type="com.kpsl.auction.ad.vo.AdApplyVo" id="AdApplyVo">
		<id property="adApplyCode" column="ad_apply_code"/>
		<id property="adUnitPriceCode" column="ad_unit_price_code"/>	
		<id property="auctionGoodsCode" column="auction_goods_code"/>
		<id property="userId" column="user_id"/>
		<id property="adApplyRegistDate" column="ad_apply_regist_date"/>
		<id property="adApplyStartDate" column="ad_apply_start_date"/>
		<id property="adApplyEndDate" column="ad_apply_end_date"/>
		<id property="adApplyState" column="ad_apply_state"/>
	</resultMap>
	<resultMap type="com.kpsl.auction.ad.vo.AdApplyAndAdImageVo" id="AdApplyVoAndAdImageVo">
    	<association property="adApplyVo">
    		<id property="adApplyCode" column="ad_apply_code"/>
			<id property="adUnitPriceCode" column="ad_unit_price_code"/>	
			<id property="auctionGoodsCode" column="auction_goods_code"/>
			<id property="userId" column="user_id"/>
			<id property="adApplyRegistDate" column="ad_apply_regist_date"/>
			<id property="adApplyStartDate" column="ad_apply_start_date"/>
			<id property="adApplyEndDate" column="ad_apply_end_date"/>
			<id property="adApplyState" column="ad_apply_state"/>
    	</association>
    	<association property="adImageVo">
    		<id property="adImageCode" column="ad_image_code"/>
			<id property="adApplyCode" column="ad_apply_code"/>
			<id property="adImageName" column="ad_image_name"/>
    	</association>
    </resultMap>
    <resultMap type="com.kpsl.auction.ad.vo.AdApplyVo" id="AdApplyVos">
   		<id property="adApplyCode" column="ad_apply_code"/>
		<id property="adUnitPriceCode" column="ad_unit_price_code"/>	
		<id property="auctionGoodsCode" column="auction_goods_code"/>
		<id property="userId" column="user_id"/>
		<id property="adApplyRegistDate" column="ad_apply_regist_date"/>
		<id property="adApplyStartDate" column="ad_apply_start_date"/>
		<id property="adApplyEndDate" column="ad_apply_end_date"/>
		<id property="adApplyState" column="ad_apply_state"/>
		<collection property="adImageVo" ofType="com.kpsl.auction.ad.vo.AdImageVo">
	   		<id property="adImageCode" column="ad_image_code"/>
			<id property="adApplyCode" column="ad_apply_code"/>
			<id property="adImageName" column="ad_image_name"/>
		</collection>
    </resultMap>
	<!-- 키값을 먼저 조회하고 키값을 셋팅한 후 INSERT -->
	<insert id="insertAdApply" parameterType="com.kpsl.auction.ad.vo.AdApplyVo"
			useGeneratedKeys="true" keyProperty="adApplyCode">
		<selectKey keyProperty="adApplyCode" resultType="string" order="BEFORE">
			SELECT CONCAT("aa",MAX(CAST(substring(ad_apply_code,3)+1 AS DECIMAL))) FROM ad_apply_tb
		</selectKey>
		INSERT INTO ad_apply_tb
					(ad_apply_code,
					 ad_unit_price_code,
					 auction_goods_code, 
					 user_id, 
					 ad_apply_regist_date, 
					 ad_apply_start_date, 
					 ad_apply_end_date, 
					 ad_apply_state)
		VALUES (#{adApplyCode}, 
				#{adUnitPriceCode}, 
				#{auctionGoodsCode}, 
				#{userId}, 
				NOW(), 
				#{adApplyStartDate}, 
				#{adApplyEndDate}, 
				'승인대기')
	</insert>
	<!-- 전체 광고신청 리스트 SELECT쿼리 (등록순으로)-->
	<select id="selectAdApply" resultMap="AdApplyVo">
		SELECT  ad_apply_code, 
				ad_unit_price_code, 
				auction_goods_code, 
				user_id, 
				ad_apply_regist_date, 
				ad_apply_start_date, 
				ad_apply_end_date, 
				ad_apply_state
				FROM ad_apply_tb
		ORDER BY ad_apply_regist_date
	</select>
	<!-- 광고신청,광고이미지 JOIN -->
	<select id="selectAdApplyAndAdImageByAdApplyCode" parameterType="String" resultMap="AdApplyVos">
	SELECT  aa.ad_apply_code, 
			aa.ad_unit_price_code, 
			aa.auction_goods_code, 
			aa.user_id, 
			aa.ad_apply_regist_date, 
			aa.ad_apply_start_date, 
			aa.ad_apply_end_date, 
			aa.ad_apply_state,
 			ai.ad_image_code, 
 			ai.ad_apply_code, 
 			ai.ad_image_name
 			FROM ad_apply_tb aa LEFT JOIN ad_image_tb ai 
 			ON aa.ad_apply_code = ai.ad_apply_code
 			WHERE aa.ad_apply_code = #{adApplyCode}
	</select>
</mapper>