<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kpsl.auction.goodspayment.service.GoodsPaymentMapper">
	<resultMap type="com.kpsl.auction.goodspayment.vo.GoodsPaymentVo" id="GoodsPaymentVo">
		<id property="goodsPaymentCode" column="goods_payment_code" />
		<id property="userId" column="userId" />
		<result property="successfulBidCode" column="successful_bid_code"/>
		<result property="goodsPaymentDate" column="goods_payment_date" />
		<result property="goodsPaymentPrice" column="goods_payment_price" />
		<result property="goodsPaymentFees" column="goods_payment_fees" />
		<result property="goodsPaymentState" column="goods_payment_state" />
		<result property="goodsPaymentRemarks" column="goods_payment_remarks" />
	</resultMap>
	<resultMap type="com.kpsl.auction.goodspayment.vo.GoodsPaymentVoANDAuctionGoodsVoANDSuccessBidVo" 
		id="GoodsPaymentVoANDAuctionGoodsVoANDSuccessBidVo">
		<id property="auctionGoodsName" column="auction_goods_name"/>
		<id property="goodsPaymentPrice" column="goods_payment_price"/>
		<id property="goodsPaymentDate" column="goods_payment_date"/>
		<id property="auctionGoodsCode" column="auction_goods_code"/>
		<id property="successfulBidCode" column="successful_Bid_code"/>
		<id property="userBuyerId" column="user_buyer_id"/>
		<id property="goodsPaymentState" column="goods_payment_state"/>
	</resultMap>
	<insert id="insertGoodsPayment" parameterType="com.kpsl.auction.goodspayment.vo.GoodsPaymentVo">
		<selectKey keyProperty="goodsPaymentCode" resultType="String" order="BEFORE">
			SELECT CONCAT("gp",MAX(CAST(substring(goods_payment_code,3)+1 AS DECIMAL)))
			FROM 	goods_payment_tb
		</selectKey>
		INSERT INTO goods_payment_tb
					(goods_payment_code, 
					user_id, 
					successful_bid_code, 
					goods_payment_date, 
					goods_payment_price, 
					goods_payment_fees, 
					goods_payment_state)
		VALUES 		(#{goodsPaymentCode}, 
					#{userId}, 
					#{successfulBidCode}, 
					NOW(), 
					#{goodsPaymentPrice}, 
					#{goodsPaymentFees}, 
					'결제완료')
	</insert>
	<update id="updateSellerTotalcash">
		UPDATE user_detail_tb
			SET user_totalcash=user_totalcash+#{successfulBidPrice}
		WHERE user_id = #{userSellerId}
	</update>
	
	<update id="updatebuyerTotalcash">
		UPDATE user_detail_tb
			SET user_totalcash=user_totalcash-#{successfulBidPrice}
		WHERE user_id = #{userBuyerId}
	</update>
	<!--결제 리스트 -->
	<select id="selectuserpaymentlist" parameterType="com.kpsl.auction.goodspayment.vo.GoodsPaymentVoANDAuctionGoodsVoANDSuccessBidVo"
	resultMap = "GoodsPaymentVoANDAuctionGoodsVoANDSuccessBidVo"  >
		SELECT a.auction_goods_name
		,c.goods_payment_price
		,c.goods_payment_date
		FROM auction_goods_tb a
		LEFT JOIN successful_bid_tb b
		ON a.auction_goods_code = b.auction_goods_code
		LEFT JOIN goods_payment_tb c
		ON b.successful_bid_code = c.successful_bid_code
		WHERE b.user_buyer_id = #{userBuyerId}
		AND c.goods_payment_state = '결제완료'
	</select>
</mapper>