<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="com.kpsl.auction.bid.service.BidDepositMapper">
  	<resultMap type="com.kpsl.auction.bid.vo.BidDepositVo" id="BidDepositMapper">
  		<id property="bidDepositCode" column="bid_deposit_code"></id>
  		<id property="bidCode" column="bid_code"></id>
		<id property="userBuyerId" column="user_buyer_id"></id>
   		<id property="auctionGoodsCode" column="auction_goods_code"></id>
  		<id property="userSellerId" column="user_seller_id"></id>
  		<id property="bidDepositPrice" column="bid_deposit_price"></id>
		<id property="bidDepositState" column="bid_deposit_state"></id>
		<id property="bidDepositDate" column="bid_deposit_date"></id>
	</resultMap>
			<resultMap type="com.kpsl.auction.user.vo.UserDetailVo" id="userDetail">
		<id property="userId" column="user_id" />
		<result property="userPassword" column="user_password" />
		<result property="userLevel" column="user_level" />
		<result property="gradeCode" column="grade_code" />
		<result property="restrictCode" column="restrict_code" />
		<result property="userName" column="user_name" />
		<result property="userGender" column="user_gender" />
		<result property="userBirth" column="user_birth" />
		<result property="userPhone" column="user_phone" />
		<result property="userEmail" column="user_email" />
		<result property="userPostcode" column="user_postcode" />
		<result property="userAddr" column="user_addr" />
		<result property="userAddrdetail" column="user_addrdetail" />
		<result property="userTotalcash" column="user_totalcash" />
	</resultMap>
	
	<!--입찰보증금 insert  -->
	<insert id="insertBidDeposit" parameterType="com.kpsl.auction.bid.vo.BidDepositVo" useGeneratedKeys="true" keyProperty="bidCode">
		<selectKey keyProperty="bidDepositCode" resultType="string" order="BEFORE">
			SELECT CONCAT("bdc",MAX(CAST(substring(bid_deposit_code,4)+1 AS
			DECIMAL)))
			FROM bid_deposit_tb
		</selectKey>
		INSERT INTO bid_deposit_tb
	(bid_deposit_code
	, bid_code
	, user_buyer_id
	, auction_goods_code
	, user_seller_id
	, bid_deposit_price
	, bid_deposit_state
	, bid_deposit_date)
	VALUES (#{bidDepositCode}
	, #{bidCode}
	, #{userBuyerId}
	, #{auctionGoodsCode}
	, #{userSellerId}
	, #{bidDepositPrice}
	, '보관'
	, NOW())
	</insert>
		
	<!--입찰 시에 캐쉬에서 보증금 만큼 빠져나가기.  -->
	<update id="updateUserCashWithdraw" parameterType="com.kpsl.auction.bid.vo.BidDepositVo">
	UPDATE user_detail_tb 
	SET user_totalcash = user_totalcash - #{bidDepositPrice}
	WHERE user_id = #{userBuyerId};
	</update>
	
	<!--입찰자 보증금을 위한 캐쉬 조회  -->
	<select id="selecttotalcash" parameterType = "String" resultMap="userDetail" >
	SELECT user_totalcash 
	FROM user_detail_tb
	WHERE user_id = #{userId}
	</select>
	
	<select id="selectoverlapuserid" parameterType ="String" resultMap = "BidDepositMapper" >
	SELECT   user_buyer_id
	FROM bid_deposit_tb WHERE auction_goods_code  = #{auctionGoodsCode}
	</select>
  </mapper>