<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="com.kpsl.auction.bid.service.BidDepositMapper">
  	<resultMap type="com.kpsl.auction.bid.vo.BidDepositVo" id="BidDepositMapper">
  		<id property="bidDepositCode" column="bid_deposit_code"></id>
  		<id property="bidCode" column="bid_code"></id>
		<id property="userBuyerId" column="user_buyer_id"></id>
   		<id property="auctionGoodsCode" column="auction_goods_code"></id>
  		<id property="userSellerId" column="user_seller_id"></id>
  		<id property="bidDepositPrice" column="bid_deposit_price"></id>
		<id property="bidDepositState" column="bid_deposit_state"></id>
		<id property="bidDepositDate" column="bid_deposit_date"></id>
	</resultMap>
	<insert id="insertBidDeposit" parameterType="com.kpsl.auction.bid.vo.BidDepositVo" useGeneratedKeys="true" keyProperty="bidCode">
		<selectKey keyProperty="bidDepositCode" resultType="string" order="BEFORE">
			SELECT CONCAT("bdc",MAX(CAST(substring(bid_deposit_code,4)+1 AS
			DECIMAL)))
			FROM bid_deposit_tb
		</selectKey>
		INSERT INTO bid_deposit_tb
	(bid_deposit_code
	, bid_code
	, user_buyer_id
	, auction_goods_code
	, user_seller_id
	, bid_deposit_price
	, bid_deposit_state
	, bid_deposit_date)
	VALUES (#{bidDepositCode}
	, #{bidCode}
	, #{userBuyerId}
	, #{auctionGoodsCode}
	, #{userSellerId}
	, 1000
	, '보관'
	, NOW())
	</insert>
  </mapper>