@CHARSET "UTF-8";
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.row {
	margin: 30px 0 0 30px;
}

#topMenuNavar {
	border-color: #3D3D3D;
	bor
}

#topMenu {
	color: #ffffff;
	background-color: #3D3D3D;
}

#mainMenuNabar {
	border-color: #ffffff;
	box-shadow: 0px 3px 3px #cecece;
}

#mainMenu {
	background-color: #ffffff;
}

#time {
	color: #ffffff !important;
}

#topMenu li a{
	color: #ffffff !important;
}

/* Add a gray background color and some padding to the footer */
footer {
	background-color: #f2f2f2;
	padding: 25px;
}

.carousel-inner img {
	width: 100%; /* Set width to 100% */
	margin: auto;
	min-height: 200px;
}

.navMenu li a {
	color: #000000 !important;
	background-color: #ffffff !important;
}

.navMenu li a:hover, .navMenu li.active a {
	background-color: #368aff !important;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media ( max-width : 600px) {
	.carousel-caption {
		display: none;
	}
}
 
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

