<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kpsl.auction.account.service.AccountMapper">
	<resultMap type="com.kpsl.auction.account.vo.AccountVo" id="account">
		<id property="accountCode" column="account_code" />
		<result property="userId" column="user_id"/>
		<result property="accountBankName" column="account_bank_name" />
		<result property="accountHolderName" column="account_holder_name" />
		<result property="accountNo" column="account_no" />
		<result property="accountDate" column="account_date" />
	</resultMap>
	<!-- 로그인 user계좌 insert -->
	<insert id="insertAccount" parameterType="com.kpsl.auction.account.vo.AccountVo"
		useGeneratedKeys="true" keyProperty="accountCode">
		<selectKey keyProperty="accountCode" resultType="String" order="BEFORE">
			SELECT CONCAT("account",MAX(CAST(substring(account_code,8)+1 AS
			DECIMAL)))
			FROM account_tb
		</selectKey>
			INSERT INTO account_tb
			(account_code, user_id, account_bank_name, account_holder_name, account_no, account_date)
			VALUES (#{accountCode}, #{userId}, #{accountBankName}, #{accountHolderName}, #{accountNo}, NOW())
	</insert>
	<!--로그인user 계좌 select -->
	<select id="selectUserAccount" parameterType="String" resultMap="account">
			SELECT account_bank_name,account_holder_name,account_no
			FROM account_tb
			WHERE user_id = #{userId}
	</select>
	<!-- 로그인user 계좌update  -->
 	<update id="updateUserAccount" parameterType="com.kpsl.auction.account.vo.AccountVo" >
			UPDATE account_tb
			SET
				account_bank_name=#{accountBankName},
				account_holder_name=#{accountHolderName},
				account_no=#{accountNo}
			WHERE user_id = #{userId}
	</update> 
	<!--로그인user 계좌 delete-->
	<delete id="deleteUserAccount" parameterType="com.kpsl.auction.account.vo.AccountVo">
		DELETE FROM account_tb 
		WHERE user_id = #{userId}
	</delete>
</mapper>